<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Ticketac</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="/images/train.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
          loading="lazy"
        />
        Ticketac
      </a>
      <ul class="navbar-nav d-inline-block p-3">
        <li class="nav-item d-inline-block mr-4">
          <a class="nav-link text-danger" href="#">Connection</a>
        </li>
        <li class="nav-item d-inline-block">
          <a class="nav-link text-dark" href="#">My last trips</a>
        </li>
      </ul>
    </nav>

    <!-- FORM -->

    <div class="container mt-5">
      <div class="row text-center mr-4">
        <div class="col-8 offset-3">
          <h3 class="text-left mb-4">One-way ticket :</h3>
          <form>
            <div class="form-row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="From : Paris, Marseille.."
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="To : Lille, Nantes.."
                />
              </div>
              <label for="start"></label>
              <div class="col">
                <input
                  type="date"
                  class="form-control"
                  id="start"
                  name="trip-start"
                  value="2020-11-05"
                  min="2019-01-01"
                  max="2021-12-31"
                />
              </div>
              <button type="submit" class="btn btn-danger ml-4">Go</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <img
      src="/images/landmark.png"
      class="rounded mx-auto d-block width: 50%"
      alt="landmark"
    />

    <footer class="text-center font-italic">© La Capsule 2020</footer>
  </body>
</html>
