/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
body {
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 13px;
  width: 100%;
}

h3 {
  font-size: 30px;
  color: white;
}

body {
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,207cca+49,2989d8+50,1e5799+100 */
  background: rgb(125, 185, 232); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgb(125, 185, 232) 0%,
    rgb(41, 137, 216) 90%,
    rgb(30, 87, 153) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgb(125, 185, 232) 0%,
    rgb(41, 137, 216) 90%,
    rgb(30, 87, 153) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(125, 185, 232) 0%,
    rgb(41, 137, 216) 90%,
    rgb(30, 87, 153) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}
